__pycache__
app/__pycache__
app/chains/__pycache__
app/features/__pycache__
app/tools/__pycache__
venv/
.venv/
.chroma/
.DS_Store

env/
dev/
.env.dev
sqlite.db
logs/
db/
data/
.vscode/
graph_output.json
*.png
